.bg{
background-image: url('../img/farmbg.jpg'); 
width: 100%;
height: 120%;
position: absolute;
}

header{

}

.row{
	max-width:100%;
	margin:0;
	padding-left:15px;
	padding-right:15px;
}
.wrapper{
	max-width:100%;
	margin:0 auto;
}

.checkbox{
margin-left:20px;
}

.searchBar{
<<<<<<< HEAD
width: 170px;
height: 30px;	
margin-top: 12px;
margin-right: 70px;
border-radius: 8px;
border-style: none;

font-size: 14px;
=======
border-radius: 5px;
border-style: none;
width: 100%;
height: 30px;
color: #000;
>>>>>>> FETCH_HEAD
}

.farmerCard{
    opacity: 0.6;
    padding-top: 5px;
    text-align: center;
    height: 150px;
	background-color: #fdf9ee;
    width: 100%;
    font-family: 'source sans pro', sans-serif;
    color: #003333;
    border-radius: 5px;
}

.farmericon{
	width: 100%;
    opacity: 1;
	height: 50px;
	background-color: #ffcc66;
	padding:5px;
    margin-bottom: 20px;
	text-align:center;
    border-radius: 5px;
}

.searchResultsWrapper{
	max-width: 100%;
    padding: 30px 70px 50px 40px;
	/*background-color:#999933;*/
}

.checkbox{
font-size: 18px;
font-family: avenir;
font-weight: 300;
padding: 10px;
}

/*See jquery.pageslide.css for styles*/
#pageslide{
	/*width:660px;*/
	
}


/* navigation */
.navbar{
    background-color: #333333;
    padding-left: 10px;
    border-radius: 0px;
    text-align: center;
    margin: 0 auto;
}

.homep{
background-color:#ffcc66;
width: 100vw;
position: absolute;
text-align: center;
background-color: ;
height: 100%;
color: #333;
font-size: 65px;
font-family: 'source sans pro', sans-serif;
}

.homep a{
color: #006743;
font-size: 40px;
}

.navbar{
width: 100%;
}

.nav{
font-family: 'Source Sans Pro', sans-serif;
color: #fff;
background-color: #333333;
}

.home{
color: #fff;
font-weight: 600;
font-size: 30px;
padding-left:60px;
}

.nav a:hover{
text-decoration: none;
}

.navbar-nav{
font-size: 15px;
}

.navbar-right{
padding-top:10px;
padding-right: 20px;
}

.active{
font-weight: 600;
color: #ffcc66;
}

.navbar ul{
margin: 0 auto;
text-align: center;
list-style: none;
}

.filter{
background-color: #ffcc66;
color: #003333;
padding: 20px 20px 20px 20px;
margin-right: 20px;
border-radius: 5px;
margin-left:50px;
}

.filter2{
background-color: #fff;
color: #003333;
padding: 20px 20px 20px 20px;
margin-right: 20px;
border-radius: 5px;
margin-left:50px;
    opacity: 0.8;
}

.category{
font-family: 'source sans pro', sans-serif;
font-size: 30px;
font-weight: 500;
}

h1{
color: #fff;
font-size: 26px;
}

h2{
font-size: 24px;
font-weight: 600;
}

h3{
}    

h4{
font-size:20px;
}

.abouth{
font-size: 28px;
font-weight: 400;
padding-bottom: 10px;
}

.aboutm{
padding-top:240px;
}

hr{
width: 2px;
}

body{
color: #003333;
font-family: 'avenir', sans-serif;
font-size: 18px;
background-repeat: repeat;
font-weight: 300;
}

body a{
color: #006743;
}

body a:hover{
color: #fff;
text-decoration: none;
}

footer{
font-family: 'avenir', sans-serif;
background-color: #333333;
width: 100%;
color: #fff;
height: 300px;
padding: 25px;
max-height: 100%;
font-size: 16px;
line-height: 21px;
}

.profile{
font-size: 24px;
text-align: center;
}

.socialmedia{
font-size: 40px;
}   

.footerinfo{
padding-top: 30px;
}

/* ABOUT */

.aboutback{
	background-color: #ffcc66;
    font-family: 'source sans pro', sans-serif;
    color: #003333;
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom:10px;
}

.aboutback2{
padding-left: 20px;
padding-top:20px;
width:250px;
background-color:#f9e4bd;
}

.contactback{
padding-top:20px;
background-color:#ffcc66;    
}

.aboutpics{
text-align:center;
}

.margin{
    margin-top:10px;
    margin-right: 20px;
}

.aboutinfo{
margin-top:25px;
}

.contact{
margin-top:25px;
margin-left: 20px;
padding-bottom: 25px;
}

p{
padding-bottom: 20px;
}

/* Modal Styles */
.modal a{
	color:#006743;

}

.modal a:hover{
	color:#ffcc66;
}

.modal h4{
	margin-top:0;
	font-weight:600;
    color: #006743;
    font-size: 25px;
}

.modal-social{
	font-size:10pt;
}

.modal-header{
    font-family: 'source sans pro', sans-serif;
	background:#ffcc66;
	color:white;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom:1px solid white;
}

.modal-body{
    font-family: 'source sans pro', sans-serif;
	background:#fff;
}

.modal-footer{
	background:#fdf9ee;
	padding:0 20px 20px 0;
	border:none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin:0;
}


/* ribbon*/

		.wraparound {
			position:relative;
			
			padding:10px 10px 10px 25px;
			margin:20px 0px 20px -26px;	/* 30 = 20 padding + 10 neg margin */
			
			border:1px solid #333;
			background:#333;
			color:#fdf9ee;
			box-shadow:0 4px 4px rgba(0,0,0,0.3);
			}
			.wraparound:before,
			.wraparound:after {
				content:" ";
				border-top:10px solid #333;	/* Colour of the triangle. To flip the effect, use border-bottom. */
				position:absolute;
				bottom:-11px; /* +1 to compensate for the border */
				} 
				.wraparound:before {
					border-left:10px solid transparent;
					left:-1px;	/* Only required if the element has a border */
					}
.right{
float:right;
}

.splash{
text-align:center;
padding-left:150px;
}

.welcome{
padding-top: 40vh;
padding-right:50px;
}

.btn-default{
font-family: 'source sans pro', sans-serif;
font-weight:200;
color: #fff;
background-image: none;
background-color: #333;
text-shadow: none;
border-left-style:solid;
border-left-width:1px;
border-left-color: #ffcc66;
}

.btn-default:hover{
border-left-style:solid;
border-left-width:1px;
border-left-color: #ffcc66;
border-right-color: #ffcc66;
font-family: 'source sans pro', sans-serif;
font-weight:200;
background-image: none;
background-color: #333;
color: #ffcc66;
}

#comment{

}