header{

}
.row{
	width:960px;
	max-width:960px;
	margin:0;
	padding-left:15px;
	padding-right:15px;
}
.wrapper{
	width:960px;
	max-width:960px;
	margin:0 auto;
}

.checkbox+.checkbox{
	margin-top:15px;
}

.searchRow{
	padding-left:15px;
	padding-right:15px;
}

.searchRow div{
}

.searchBar{
		
}

.farmerCard{
}

.searchResultsWrapper{
	max-width: 960px;
}

/*See jquery.pageslide.css for styles*/
#pageslide{
	/*width:660px;*/
	
}

.navbar{
	margin-bottom:0;
}

.navbar-brand{
	margin-right:15px;
}