header{

}
.row{
	width:960px;
	max-width:960px;
	margin:0;
	padding-left:15px;
	padding-right:15px;
}
.wrapper{
	width:960px;
	max-width:960px;
	margin:0 auto;
}

.checkbox+.checkbox{
	margin-top:15px;
}

.searchRow{
	padding-left:15px;
	padding-right:15px;
}

.searchRow div{
}

.searchBar{
		
}

.farmerCard{
    text-align: center;
    height: 150px;
	background-color: #ffffff;
    opacity: 0.7;
}

.searchResultsWrapper{
	max-width: 960px;
	padding-top:30px;
    padding-bottom: 50px;
	background-color:#999933;
}

/*See jquery.pageslide.css for styles*/
#pageslide{
	/*width:660px;*/
	
}


/* navigation */
.navbar{
    background-color: #333333;
	margin-bottom:0;
    text-transform: uppercase;
}

.navbar-brand{
}