header{

}
.row{
	width:960px;
	max-width:960px;
	margin:0;
	padding-left:15px;
	padding-right:15px;
}
.wrapper{
	width:960px;
	max-width:960px;
	margin:0 auto;
}

.checkbox+.checkbox{
	margin-top:15px;
}

.searchRow{
	padding-left:15px;
	padding-right:15px;
}

.searchRow div{
}

.searchBar{
		
}

.farmerCard{
    text-align: center;
    height: 150px;
	background-color: #ffffff;
    opacity: 0.7;
    margin: 20px;
    width: 270px;
}

.searchResultsWrapper{
	max-width: 960px;
	padding-top:30px;
    padding-bottom: 50px;
	background-color:#999933;
}

/*See jquery.pageslide.css for styles*/
#pageslide{
	/*width:660px;*/
	
}


/* navigation */
.navbar{
    background-color: #333333;
	margin-bottom:0;
    text-transform: uppercase;
}

.navbar-brand{
background-color: #333333;
font-size: 26px;
text-transform: uppercase;
color: #fff;
}

.nav{
color: #fff;
background-color: #333333;
}

.nav a{
color: #fff;
}

.navbar nav a{
color: #fff;
}

.active{
background-color: #cc6633;
}

.filter{
background-color: #cc6633;
color: #fff;
font-size: 20px;
text-transform: lowercase;
}

h1{
font-size: 30px;
}

h3{
text-transform: uppercase;
}    

body{
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
}